# Application plugins and themes
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/upgrade
web/app/upgrade/*
web/app/debug.log

# User uploaded files
web/app/uploads/*
!web/app/uploads/.gitkeep
web/usrfs/*
!web/usrfs/.gitkeep

# WordPress Original Sources
web/core
!web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
composer.lock
vendor/*
!vendor/.gitkeep
!vendor/vendordir.php

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
